<!DOCTYPE html>
<html lang="en">

<head>


	<title>Change password</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="js/std-loginChecker.js"></script>
	<link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/login.css">
	<style>
		#account,
		#account i {
			background-color: #3aa8ef;
			color: white;
			border-radius: 5px;
		}

	</style>
</head>

<body>
	<div id="navbar-placeholder"></div>
	<center>

		<form id="change-pass">


			<input type="password" id="old-pass" name="old-pass" required placeholder="Old-Pass"><br><br>


			<input type="password" id="new-pass" name="new-pass" required placeholder="New-Pass" maxlength="20"><br><br>

			<input type="password" id="confirm-pass" name="confirm-pass" required placeholder="Confirm-Pass"
				maxlength="20"><br><br>

			<input type="submit" value="Submit">
		</form>
	</center>
	<script src="js/localStorage/setup-storage.js"></script>
	<script src="js/nav-std.js"></script>
	<script src="js/stdLocalStorage/change-password.js"></script>
</body>

</html>
