{% extends 'navbar-student.html' %}

{% load static %}

{% block specialhead %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/registered-courses.css' %}">
<style>
	#courses,
	#courses i {
		background-color: #3aa8ef;
		color: white;
		border-radius: 5px;
	}
</style>
{% endblock specialhead %}

{% block title %}Registered Courses{% endblock %}



{% block content %}

<div class="box-courses">
	<div class="box-header">
		Student Courses
	</div>
	<div class="box-filter">

		<div class="l2">
			<div>
				<label for="l">Level</label>
			</div>
			<div>
				<select name="level" id="l">
					<option value="0">All</option>
					<option value="1">First Level</option>
					<option value="2">Second Level</option>
					<option value="3">Third Level</option>
					<option value="4">Fourth Level</option>
				</select>
			</div>
		</div>
		<!-- <div class="l3">
			<div>
				<label for="t">Term</label>
			</div>
			<div>
				<select name="term" id="t" class="term">
					<option value="0">All</option>
					<option value="1">First Term</option>
					<option value="2">Second Term</option>
					<option value="3">Summer Term</option>
				</select>
			</div>
		</div> -->
	</div>
	<table id="myTable">
		<thead>
			<th>Code</th>
			<th>Name</th>
			<th>Hours</th>
			<th>Grade</th>
			<th>Term Work</th>
			<th>Exam Work</th>
			<th>Result</th>
			<th>Level</th>
		</thead>
		<tbody>
			{% for crs in courses %}
				<tr>
					<td>{{ crs.id|default:'' }}</td>
					<td>{{ crs.name|default:'' }}</td>
					<td>{{ crs.credit|default:'' }}</td>
					<td>{{ crs.grade|default:'' }}</td>
					<td>{{ crs.work|default:'' }}</td>
					<td>{{ crs.exam|default:'' }}</td>
					<td>{{ crs.total|default:'' }}</td>
					<td level={{crs.level}}>{{ crs.level|default:'' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% comment %}
<script src="js/localStorage/setup-storage.js"></script> {% endcomment %}
<script src="{% static 'js/std-registered-coureses.js' %}"></script>
{% endblock %}
